.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__mobile-warning {
  display: none;
}

.App__content {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: content-box;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.App__buttons-section {
  display: flex;
}

.App__result-section {
  display: flex;
  margin-top: 20px;
  min-height: 37px;
}

.App__buttons-section button {
  flex-shrink: 0;
}

.App__buttons-section button:last-child {
  margin-left: auto;
}

.App__result-title, .App__result-value {
  font-size: 24px;
}

.ant-input-number-handler-wrap {
  display: none !important;
}

.ant-input-number {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .App__content {
    display: none;
  }
  .App__mobile-warning {
    display: block;
  }
}